.header {
  padding: 92px 50px 88px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: circle;
  width: 391.48px;
  gap: 13px;
  text-underline-offset: 4px;
  line-height: 21.13px;
  /* padding-bottom: 5px; */
}

.header-menu li:first-child {
  list-style-type: none;
  text-decoration: none;
}

.non-active {
  text-decoration: underline;
}

.active_link {
  text-decoration: none;
  list-style-type: none;
}

.header-logo-image {
  width: 148px;
  height: 105px;
}

.contacts {
  justify-self: end;
  max-width: 240px;
  line-height: 24.3px;
  font-style: normal;
}

.contacts a {
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.contacts p {
  white-space: normal;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  background-position: center;
  z-index: 1;
  padding: 165px 50px 50px;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 2;
  content: "";
  background-color: rgb(0, 0, 0, 0.6);
}

.cover-title {
  font-family: Raleway, sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 3;
}

.first_word {
  align-self: flex-start;
}

.second_word {
  align-self: center;
  transform: translateX(14.5px);
}

.third_word {
  align-self: flex-end;
  transform: translateX(29px);
}

.description {
  margin-top: 106px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.description-text {
  max-width: 637px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18.5px;
  color: #fff;
}

.description-button {
  cursor: pointer;
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  background: inherit;
  color: #fff;
  margin-left: 107px;
  font-size: 22px;
  font-weight: 500;
}

.lots {
  max-width: 1052px;
  margin: 185px 24px 120px;
  z-index: 3;
  position: relative;
}

.lots__card-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 25px;
  z-index: 1;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  padding: 0px 891px 27px 40px;
}

.lots__card-list-item {
  min-width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  gap: 274px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-link {
  width: 100%;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  line-height: 26.4px;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 2px;
  z-index: 3;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  z-index: 3;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  min-width: 192px;
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  margin-top: 30px;
  margin-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.about__column {
  padding: 35px 72px 320px 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 133px 0px 13px 0px;
}

.about__text p:first-of-type {
  margin-bottom: 24px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  margin: 0 0 100px;
  text-transform: uppercase;
}

.about__text p {
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1px 50px 82px 50px;
  margin-top: 170px;
  position: relative;
}

.footer__social-icon {
  max-width: 48px;
  max-height: 48px;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 48px;
  justify-self: end;
}

.footer__contacts {
  justify-self: start;
  align-self: start;
  line-height: 24.3px;
  font-size: 18px;
  width: 264px;
}

.footer__menu {
  justify-items: center;
  align-content: stretch;
  font-size: 18px;
}

.footer__menu-list {
  list-style-type: none;
  text-underline-offset: 4px;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
}

.active {
  text-decoration: none;
}